<!DOCTYPE HTML>
  <html>
    <head>
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/styles.css">
    <title>The Team</title>
 </head>
 <body>
  <!--Navigation-->
  <nav>
  <div class="nav-wrapper  blue darken-4">
    <a href="/IndexPage" class="brand-logo center"><span class="logo grey-text-lighten-2">NY Estates Group Realty</span></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/MissionPage">About Us</a></li>
      <li><a href="/ServicesPage">Services</a></li>
      <li><a href="/TeamPage">The Team</a></li>
      <li><a href="/ForSalePage">For Sale</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo" style="transform: translateX(-100%);">
      <li><a href="/IndexPage">Home</a></li>
      <li><a href="/MissionPage">About Us</a></li>
      <li><a href="/ServicesPage">Services</a></li>
      <li><a href="/TeamPage">The Team</a></li>
      <li><a href="/ForSalePage">For Sale</a></li>
    </ul>
  </div>
</nav>
<!--Parallax Container I (Team Photo)-->
<div class="parallax-container">
  <div class="parallax"><img src="assets\img\pexels-photo-398532.jpg"></div>
</div>
<!--Container for Team Cards-->
<div class="container ">
  <div class="row">
    <h2 class="section-header">The Team</h2>
    <p>This is the team that is responsible for making the buyer's needs come true! This is the team that is responsible for making the buyer's needs come true! This is the team that is responsible for making the buyer's needs come true! This is the team that is responsible for making the buyer's needs come true! This is the team that is responsible for making the buyer's needs come true!
      This is the team that is responsible for making the buyer's needs come true! This is the team that is responsible for making the buyer's needs come true!</p>
  </div>
  <!--Cards for Employees-->
  <div class="row">
  <div class="col l6 m12 s12">
    <div class="card">
      <div class="card-image">
        <img src="assets\img\skyline-buildings-new-york-skyscrapers.jpg">
        <span class="card-title">Andrea S. Gross <br /> Owner/Head Broker</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.I am a very simple card. I am good at containing</p>
      </div>
      <div class="card-action ">
        <a href="/TeamMemberPage1" id="profLink">View Profile</a>
      </div>
    </div>
  </div>
  <div class="col l6 m12 s12">
    <div class="card">
      <div class="card-image">
        <img src="assets\img\skyline-buildings-new-york-skyscrapers.jpg">
        <span class="card-title">Dale Davids <br /> Associate Broker</span>
      </div>
      <div class="card-content">
        <p>Dale Davids loves to provide excellent full service real estate in the area of sales, rental and
        management of residential and commercial properties in the State of New York. </p>
      </div>
      <div class="card-action">
        <a href="/TeamMemberPage2"> View Profile</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l6 m12 s12">
    <div class="card">
      <div class="card-image">
        <img src="assets\img\skyline-buildings-new-york-skyscrapers.jpg">
        <span class="card-title">Geoffrey Gross <br/> Sales Agent</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="/TeamMemberPage3">View Profile</a>
      </div>
    </div>
  </div>
  <div class="col l6 m12 s12">
    <div class="card">
      <div class="card-image">
        <img src="assets\img\skyline-buildings-new-york-skyscrapers.jpg">
        <span class="card-title">Dorothy Brown <br /> Sales Agent</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="/TeamMemberPage4">View Profile</a>
      </div>
    </div>
  </div>
</div>
</div>


<!--Footer-->
<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4" id="footerParagraph">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-lighten-3" id="footerOffice">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" id="footerAddress">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" id="footerNumber">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     © 2017 NY Estates Group Realty-All rights reserved
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>


      <!--Import jQuery before materialize.js-->
      <!-- Compiled and minified JavaScript -->
 	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
 		<script type="text/javascript" src="assets/js/xtra-scripts.js"></script>
    <script type="text/javascript" src="assets/js/teampg-scripts.js"></script>
    <script type="text/javascript" src="assets/js/footer-scripts.js"></script>

</body>
</html>
